include LICENSE
include README.md
include readme-cli.md
include PenguinBurner.service
include penguin_burner.sh
include packaging/linux/*.desktop
include overlay/native/latency_layer/CMakeLists.txt
include overlay/native/latency_layer/VkLayer_PENGUINBURNER_latency.json.in
recursive-include docs *.md *.png *.svg
recursive-include packaging/icons *.png *.svg
recursive-include ui/assets *.png
recursive-include tests *.py
recursive-include overlay/native/latency_layer/src *.cpp *.h *.hpp
